@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

$sans-serif: 'Lexend Deca', sans-serif;

$primary: #0e6e0e;
$secondary: #1eacb1;
$accent: rgb(202, 21, 21);

$background-color: #ffffff;

$txt-primary: #000000;
